<form>
    <div class="mb-3">
        <label for="nit" class="form-label">NIT:</label>
        <input type="number" class="form-control" [(ngModel)]="nit" name="nit" disabled="{{company.nit==0?false:true}}">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" [(ngModel)]="name" maxlength="100" name="name">
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address:</label>
        <input type="text" class="form-control" [(ngModel)]="address" maxlength="200" name="address">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Cellphone:</label>
        <input type="number" class="form-control" [(ngModel)]="phone" name="phone">
    </div>
    <button (click)="addCompany()" *ngIf="company.nit==0" class="btn btn-primary">Add</button>
    <button (click)="updateCompany()" *ngIf="company.nit!=0" class="btn btn-primary">Update</button>
</form>